.card-main {
    height: 100%;
    color: rgb(69, 90, 100);
    box-shadow: 0 0 10px #cce9f4 !important;
    border-radius: 5px;
    padding: 0px;
    overflow: hidden;
    border: 1px solid rgba(80,80,80, 0.15) !important;
    border-image: initial;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box
}

    .card-main header {
        padding: .50rem 1.25rem !important;
        height: 35px;
        box-shadow: 0 0 10px #cce9f4 !important;
        position: relative;
        background-color: transparent !important;
    }

    .card-main .card-body {
        padding: 7px;
        direction: rtl;
    }
.card-header-info {
    background-color: rgba(0,0,0,.03) !important;
    padding: .19rem .8rem;
    text-align: start;
}

.card-body-info {
    padding: .5rem .4rem 10px .5rem !important;
    background-color: #fff !important;
    overflow-y: auto;
}

.card-info {
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1);
    border: 0;
    font-weight: 400;
    border-top: 1px solid rgba(80,80,80, 0.09) !important;
}
.card-desc {
    color: #0c9ef9;
    font-weight: 100;
    font-size: 13px;
    font-style: italic;
    margin-right: 4px;
}
